# ignore compiled code/binaries
build
dist
cmake-build-*

# ignore editor config
.idea
.cache
.DS_STORE

# ignore installed node modules
node_modules

# Data collector
data-collector/output.json
data-collector/output.cpp